<div ng-controller="homeController">
    <md-card>
        <md-card-content>
            <div layout="row">
                <div flex>
                    <center>
                        <!-- <div ng-controller="SelectAsyncController" -->
                        <!-- layout="column" layout-align="center center" style="padding:40px" ng-cloak> -->
                        <!-- <p>Select can call an arbitrary function on show. If this function returns a promise, it will display
                            a loading indicator while it is being resolved:</p> -->
                        <div layout="column" layout-align="center center">
                            <md-select placeholder="Assign to user" ng-model="selectedPort" md-on-open="getPorts()" style="min-width: 200px;" ng-disabled="{{dropDownDisable}}">
                                <md-option ng-value="item.comName" ng-repeat="item in array">{{item.comName + " " + item.manufacturer}}</md-option>
                            </md-select>
                            <p class="md-caption">You have assigned the task to: {{ item ? item.comName : 'No one yet' }}</p>
                        </div>
                        <!-- <md-input-container>
                            <label>Available Ports</label>
                            <md-select ng-model="selectedPort" md-on-open="getPorts()">
                                <md-option ng-repeat="item in array" ng-value="{{item.comName}}">
                                    {{item.comName + " " + item.manufacturer}}
                                </md-option> -->
                    </center>
                    </md-select>
                    </md-input-container>
                </div>

                <div flex>
                    <center>
                        <p class="md-caption" id="errParagraph"></p>
                    </center>
                </div>
                <div flex>
                    <center>
                        <md-button class="md-accent md-raised" ng-click="connectButton()">{{connectButtonText}}</md-button>
                    </center>
                </div>
            </div>

            <section>
                <md-toolbar md-scroll-shrink>
                    <div class="md-toolbar-tools">
                        <h7 flex md-truncate>My messages</h7>
                        <md-button class="md-button" class="md-icon-button md-button md-ink-ripple" type="button"
                            aria-label="View Source" ng-class="{ active: demoCtrl.$showSource }" ng-click="demoCtrl.$showSource = !demoCtrl.$showSource">

                            <span>Settings</span>
                            </md-button>>
                            <div class="md-ripple-container"> 
                        </div>
                    </div>
                    <md-content class="demo-source-tabs md-primary ng-isolate-scope" ng-show="demoCtrl.$showSource" style="min-height: 0px;"
                        aria-hidden="false">
    
                        <div layout="row" layout-align="end center">
                            <md-select ng-model="bitrate" placeholder="bitrate" class="md-no-underline">
                                <md-option value="110">110</md-option>
                                <md-option value="300">300</md-option>
                                <md-option value="1200">1200</md-option>
                                <md-option value="2400">2400</md-option>
                                <md-option value="4800">4800</md-option>
                                <md-option value="9600">9600</md-option>
                                <md-option value="14400">14400</md-option>
                                <md-option value="19200">19200</md-option>
                                <md-option value="38400">38400</md-option>
                                <md-option value="57600">57600</md-option>
                                <md-option value="115200">115200</md-option>
                                <md-option value="128000">128000</md-option>
                                <md-option value="153600">153600</md-option>
                                <md-option value="230400">230400</md-option>
                                <md-option value="256000">256000</md-option>
                                <md-option value="460800">460800</md-option>
                                <md-option value="921600">921600</md-option>

                            </md-select>
                        </div>


                        <div layout="row" layout-align="end center">
                            <md-select ng-model="dataBit" placeholder="dataBit" class="md-no-underline">
                                <md-option value="7">7</md-option>
                                <md-option value="8">8</md-option>

                            </md-select>
                        </div>

                        <div layout="row" layout-align="end center">
                            <md-select ng-model="Parity" placeholder="Parity" class="md-no-underline">
                                <md-option value="none">none</md-option>
                                <md-option value="odd">odd</md-option>
                                <md-option value="even">even</md-option>
                            </md-select>
                        </div>

                        <div layout="row" layout-align="end center">
                            <md-select ng-model="StopBit" placeholder="StopBit" class="md-no-underline">
                                <md-option value="1">1 bit</md-option>
                                <md-option value="2">2 bit</md-option>
                            </md-select>
                        </div>

                        <div layout="row" layout-align="end center">
                            <md-select ng-model="FlowControl" placeholder="FlowControl" class="md-no-underline">
                                <md-option value="none">none</md-option>
                                <md-option value="RTS/CTSHardware">RTS/CTS hardware</md-option>
                            </md-select>
                        </div>
                    </md-content>
                </md-toolbar>
            </section>

            <section id="messagesSection" style="max-height: 150px; overflow-y: scroll;">
                <md-list layout="column" layout-padding>
                    <md-list-item class="line" ng-repeat="message in messages track by $index">
                        <div class="md-list-item-text">
                            {{message}}
                        </div>
                    </md-list-item>
                </md-list>
            </section>

            <form name="projectForm">

                <md-input-container class="md-block">
                    <label>Description</label>
                    <input md-maxlength="255" md-no-asterisk name="description" ng-model="description">
                    <div ng-messages="projectForm.description.$error">
                        <div ng-message="md-maxlength">The description must be less than 255 characters long.</div>
                    </div>
                </md-input-container>

                </md-input-container>
                <div>
                    <md-button class="md-raised md-warn" ng-click="addMessage()" type="submit">Submit</md-button>
                </div>
            </form>

</div>

</md-card-content>
</md-card>
</md-content>